#!/usr/bin/make -f

%:
	dh $@

# code thanks to ceph debian package
execute_after_dh_auto_build:
	( \
		. /etc/os-release; \
		code_name=$$VERSION_CODENAME; \
		echo "Types: deb deb-src"; \
	  echo "URIs: http://packages.ros.org/ros/ubuntu"; \
	  echo "Suites: $${code_name}"; \
	  echo "Components: main"; \
	  echo "Signed-By: /usr/share/keyrings/ros-archive-keyring.gpg"; \
	) > ros.sources
	( \
		. /etc/os-release; \
		code_name=$$VERSION_CODENAME; \
		echo "Types: deb deb-src"; \
	  echo "URIs: http://packages.ros.org/ros-testing/ubuntu"; \
	  echo "Suites: $${code_name}"; \
	  echo "Components: main"; \
	  echo "Signed-By: /usr/share/keyrings/ros-archive-keyring.gpg"; \
	) > ros-testing.sources
	( \
		. /etc/os-release; \
		code_name=$$VERSION_CODENAME; \
	 	short_version=$$(echo $$VERSION_ID | cut -c1-2); \
		key=$$( echo "/usr/share/keyrings/ros2-archive-keyring.gpg"); \
		if ( [ "$$short_version" \> "20" ] && [ "$$ID" = "ubuntu" ] ); then key=$$(gpg --import keys/ros2-archive-keyring.gpg && gpg --export -a "info@openrobotics.org" | sed -e '2s/^/./' -e 's/^/ /' ); fi ;\
		echo "Types: deb deb-src"; \
	  echo "URIs: http://packages.ros.org/ros2/ubuntu"; \
	  echo "Suites: $${code_name}"; \
	  echo "Components: main"; \
	  echo "Signed-By: $${key}"; \
	) > ros2.sources
	( \
		. /etc/os-release; \
		code_name=$$VERSION_CODENAME; \
	 	short_version=$$(echo $$VERSION_ID | cut -c1-2); \
		key=$$( echo "/usr/share/keyrings/ros2-archive-keyring.gpg"); \
		if ( [ "$$short_version" \> "20" ] && [ "$$ID" = "ubuntu" ] ) || ( [ "$$short_version" \> "11" ] && [ "$$ID" = "debian" ] ); then key=$$(cat keys/ros-key.asc); fi ;\
		echo "Types: deb deb-src"; \
	  echo "URIs: http://packages.ros.org/ros2-testing/ubuntu"; \
	  echo "Suites: $${code_name}"; \
	  echo "Components: main"; \
	  echo "Signed-By: $${key}"; \
	) > ros2-testing.sources
