#!/usr/bin/make -f

%:
	dh $@

# code thanks to ceph debian package
execute_after_dh_auto_build:
	( \
		code_name=$$(. /etc/os-release && echo $$VERSION_CODENAME); \
	  echo "Types: deb deb-src"; \
	  echo "URIs: http://packages.ros.org/ros2/ubuntu"; \
	  echo "Suites: $${code_name}"; \
	  echo "Components: main"; \
	  echo "Signed-By: /usr/share/keyrings/ros-archive-keyring.gpg"; \
	) > ros2.sources
	( \
		code_name=$$(. /etc/os-release && echo $$VERSION_CODENAME); \
	  echo "Types: deb deb-src"; \
	  echo "URIs: http://packages.ros.org/ros2-testing/ubuntu"; \
	  echo "Suites: $${code_name}"; \
	  echo "Components: main"; \
	  echo "Signed-By: /usr/share/keyrings/ros-archive-keyring.gpg"; \
	) > ros2-testing.sources
	( \
	  echo "Package: *"; \
	  echo "Pin: origin ros.org/ros2/ubuntu"; \
	  echo "Pin-Priority: 100"; \
	) > ros2.pref
		( \
	  echo "Package: *"; \
	  echo "Pin: origin ros.org/ros2-testing/ubuntu"; \
	  echo "Pin-Priority: 100"; \
	) > ros2-testing.pref
	