Source: ros-keyring
Section: misc
Priority: optional
Maintainer: Open Robotics Infrastructure <infrastructure@openrobotics.org>
Standards-Version: 4.1.3
Build-Depends: gnupg, debhelper (>= 13)

Package: ros-archive-keyring
Priority: important
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: GnuPG keys of the ROS archive
 The ROS project digitally signs its Release files. This package
 contains the archive keys used for that.

Package: ros-testing-archive-keyring
Priority: important
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: GnuPG keys of the ROS testing archive
 The ROS project digitally signs its Release files. This package
 contains the archive keys used for that.
